/* ################################################################### */
/*                             styles.css                              */
/* ################################################################### */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* ################################################################### */

/* tailwind utilities ###################################################### */
@layer utilities {
  .bg-finish-line {
    background-image: url("./assets/images/finishLine.jpg");
  }
  
  .bg-mission-img1 {
    background-image: url("./assets/images/camo-image.png");
  }
}
/* END: tailwind utilities ################################################ */

:root {
  --background-color:                desperado-black; /* Light background */
  --text-color:                      #333333; /* Dark text */
/*   !* ################################################################### *! */
}

/* Font faces */
@font-face {
  font-family: "Montserrat";
  src:         url("assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: auto;
  font-style:  normal;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* ################################################################### */